#+-------------------------------------------------
#| File Name:  .gitignore
#+-------------------------------------------------
#| File Desc:  The ignore files will be writed here
#+-------------------------------------------------
#| File Date:  2015/11/15
#+-------------------------------------------------


# Ignore the IDE framework files.

.idea/


